<html>
    <head>
        <style>
            h1 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <H1>Media Tracker</H1>
        <p>
            What do you want to see?
        </p>
        <p>
            <button type="button">Games</button>
            <button type="button">Movies</button>
            <button type="button">Books</button>
            <button type="button">Music</button>
        </p>
    </body>
</html>